AzDF2020/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AzDF2020"
		},
		"LS_AzDataLakeStr_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@linkedService().BlobUrl"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/UsingMetaData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_AzDataLakeStr",
								"type": "DatasetReference",
								"parameters": {
									"DataLakeURI": {
										"value": "@pipeline().parameters.SourceDataLake",
										"type": "Expression"
									},
									"Contianer": {
										"value": "@pipeline().parameters.SourceContainer",
										"type": "Expression"
									},
									"Directory": "@concat('')",
									"File": "@concat('')"
								}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "FilterOnFile",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type,'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterOnFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterOnFile').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Copydata",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_AzDataLakeStr",
											"type": "DatasetReference",
											"parameters": {
												"DataLakeURI": {
													"value": "@pipeline().parameters.SourceDataLake",
													"type": "Expression"
												},
												"Contianer": {
													"value": "@pipeline().parameters.SourceContainer",
													"type": "Expression"
												},
												"Directory": "@concat('')",
												"File": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzDataLakeStr",
											"type": "DatasetReference",
											"parameters": {
												"DataLakeURI": {
													"value": "@pipeline().parameters.DestinationDataLake",
													"type": "Expression"
												},
												"Contianer": {
													"value": "@pipeline().parameters.DestinationContainer",
													"type": "Expression"
												},
												"Directory": "NewMigration",
												"File": "@concat('')"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"SourceContainer": {
						"type": "string",
						"defaultValue": "dlcont01"
					},
					"DestinationContainer": {
						"type": "string",
						"defaultValue": "outcontainer"
					},
					"SourceDataLake": {
						"type": "string",
						"defaultValue": "https://azdatalakeg2.dfs.core.windows.net"
					},
					"DestinationDataLake": {
						"type": "string",
						"defaultValue": "https://azdatalakeg2.dfs.core.windows.net"
					}
				},
				"variables": {
					"Dump": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzDataLakeStr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzDataLakeStr')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzDataLakeStr",
					"type": "LinkedServiceReference",
					"parameters": {
						"BlobUrl": {
							"value": "@dataset().DataLakeURI",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"DataLakeURI": {
						"type": "string",
						"defaultValue": "https://azdatalakeg2.dfs.core.windows.net"
					},
					"Contianer": {
						"type": "string",
						"defaultValue": "@concat('')"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "@concat('')"
					},
					"File": {
						"type": "string",
						"defaultValue": "@concat('')"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Contianer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzDataLakeStr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzDataLakeStr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureBlobFS",
				"annotations": [],
				"parameters": {
					"BlobUrl": {
						"type": "string",
						"defaultValue": "https://azdatalakeg2.dfs.core.windows.net"
					}
				},
				"typeProperties": {
					"url": "[parameters('LS_AzDataLakeStr_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		}
	]
}