AzDF2020/PartialArmTemplates/ArmTemplate_6_10_2020_18_29_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AzDF2020"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataFlowPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup on Employee Table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DS_OnPrem_SQLserver",
								"type": "DatasetReference",
								"parameters": {
									"Database": "TestDB",
									"Schema": "dbo",
									"Table": "employee"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get Male Gender Records",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup on Employee Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup on Employee Table').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Gender,'M')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Table Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_OnPrem_SQLserver",
								"type": "DatasetReference",
								"parameters": {
									"Database": "TestDB",
									"Schema": "dbo",
									"Table": "employee"
								}
							},
							"fieldList": [
								"structure",
								"columnCount"
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_OracleTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_OracleDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "ORAUSER",
					"table": {
						"value": "@dataset().Table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}