FactoryData_9th_June_2020/pipeline/UsingMetaData.json
{
	"name": "UsingMetaData",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AzDataLakeStr",
						"type": "DatasetReference",
						"parameters": {
							"DataLakeURI": "https://azdatalakeg2.dfs.core.windows.net",
							"Contianer": "dlcont01",
							"Directory": "@concat('')",
							"File": "@concat('')"
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterOnFile",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnFile').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Copydata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'dlcont01'}/@{concat('')}/@{item().name}"
								},
								{
									"name": "Destination",
									"value": "@{'container-02'}/@{'migrated'}/@{concat('')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_AzDataLakeStr",
									"type": "DatasetReference",
									"parameters": {
										"DataLakeURI": "https://azdatalakeg2.dfs.core.windows.net",
										"Contianer": "dlcont01",
										"Directory": "@concat('')",
										"File": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzDataLakeStr",
									"type": "DatasetReference",
									"parameters": {
										"DataLakeURI": "https://azdatalakeg2.dfs.core.windows.net",
										"Contianer": "container-02",
										"Directory": "migrated",
										"File": "@concat('')"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Dump": {
				"type": "String"
			}
		},
		"annotations": []
	}
}