FactoryData_10th_June_2020/pipeline/DataFlowPipeline.json
{
	"name": "DataFlowPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup on Employee Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_OnPrem_SQLserver",
						"type": "DatasetReference",
						"parameters": {
							"Database": "TestDB",
							"Schema": "dbo",
							"Table": "employee"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Male Gender Records",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup on Employee Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup on Employee Table').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Gender,'M')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}